### Eclipse ###
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

# Java annotation processor (APT)
.factorypath

### Java ###
# Compiled class file
*.class
